# Файл: .dockerignore

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Виртуальное окружение
.venv
venv

# Файлы IDE
.idea/
.vscode/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Файлы зависимостей (мы их копируем отдельно)
# poetry.lock
# pyproject.toml

# Файлы окружения
.env